/* Remove all default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#key_entered {
  display: none;
}

body {
  width: 400px;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #694fff, #fa3abc, #fd7d12);
}

/* Gradient bg header */
.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
}

.ice_logo {
  width: 42px;
  border-radius: 50%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Main with top rounded */
main {
  padding: 16px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  overflow: hidden;
}

/* Form for OPEN AI key */
.input-container {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #694fff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5a30f7;
}

.save_key_button {
  margin-top: 10px;
}

.divider {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

/* Signature */
.signature {
  white-space: pre-wrap;
}

.signature_data_title {
  font-weight: bold;
}
